

.cohort-list-container {
  width: 100%;
}

.border-left-primary {
  border-left: 0.25rem solid #4e73df;
}

.border-left-success {
  border-left: 0.25rem solid #1cc88a;
}


.bg-selected {
  background-color: #f0f3ff;
}

.student-scroll-list::-webkit-scrollbar {
  width: 5px;
}

.student-scroll-list::-webkit-scrollbar-thumb {
  background: #dddfeb;
  border-radius: 10px;
}

.cursor-pointer {
  cursor: pointer;
}


.btn-icon-split .icon {
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
}

.btn-icon-split .text {
  padding: 0.375rem 0.75rem;
}